In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
# Set the style to 'whitegrid'
plt.style.use('seaborn-whitegrid')

C:\Users\janak\AppData\Local\Temp\ipykernel_19024\3836125493.py:7: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-whitegrid')

In [2]:
df=pd.read_csv('raw_data/weather-data.csv',header=None)
print(df.shape)
df.head(10)

(5234, 14)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
1,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-02,0.00,",,S",78,"H,,S",NaN,NaN,72,",,S"
2,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-03,0.00,",,S",81,"H,,S",87,",,S",71,",,S"
3,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-04,0.00,",,S",83,"H,,S",88,",,S",69,",,S"
4,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-05,0.00,",,S",84,"H,,S",90,",,S",65,",,S"
5,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-06,0.00,",,S",82,"H,,S",88,",,S",71,",,S"
6,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-07,0.00,",,S",80,"H,,S",89,",,S",68,",,S"
7,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-08,0.00,",,S",82,"H,,S",90,",,S",71,",,S"
8,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-09,0.00,",,S",83,"H,,S",89,",,S",71,",,S"
9,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-10,0.00,",,S",81,"H,,S",88,",,S",72,",,S"

In [3]:
# Extract the first row
header_row = df.iloc[0]
# Assign the first row as the header
df.columns = header_row
# Remove the first row from the DataFrame
df = df[1:]

df.head(10)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
1,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-02,0.00,",,S",78,"H,,S",NaN,NaN,72,",,S"
2,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-03,0.00,",,S",81,"H,,S",87,",,S",71,",,S"
3,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-04,0.00,",,S",83,"H,,S",88,",,S",69,",,S"
4,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-05,0.00,",,S",84,"H,,S",90,",,S",65,",,S"
5,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-06,0.00,",,S",82,"H,,S",88,",,S",71,",,S"
6,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-07,0.00,",,S",80,"H,,S",89,",,S",68,",,S"
7,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-08,0.00,",,S",82,"H,,S",90,",,S",71,",,S"
8,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-09,0.00,",,S",83,"H,,S",89,",,S",71,",,S"
9,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-10,0.00,",,S",81,"H,,S",88,",,S",72,",,S"
10,CEM00043441,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-11,0.00,",,S",85,"H,,S",90,",,S",73,",,S"

In [4]:
df.drop(columns=['STATION', 'PRCP_ATTRIBUTES', 'TAVG_ATTRIBUTES', 'TMAX_ATTRIBUTES', 'TMIN_ATTRIBUTES'], inplace=True)
df.head(10)

,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,TAVG,TMAX,TMIN
1,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-02,0.00,78,NaN,72
2,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-03,0.00,81,87,71
3,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-04,0.00,83,88,69
4,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-05,0.00,84,90,65
5,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-06,0.00,82,88,71
6,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-07,0.00,80,89,68
7,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-08,0.00,82,90,71
8,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-09,0.00,83,89,71
9,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-10,0.00,81,88,72
10,"KURUNEGALA, CE",7.467,80.367,116.0,2019-01-11,0.00,85,90,73

In [5]:
df['NAME'].value_counts()

NAME
COLOMBO, CE         1766
NUWARA ELIYA, CE    1762
KURUNEGALA, CE      1705
Name: count, dtype: int64

In [6]:
try:
    # Convert 'Current_Date' to DateTime format
    df['DATE'] = pd.to_datetime(df['DATE'])
    print("Conversion to DateTime format successful.")
except ValueError as e:
    print(f"Error converting to DateTime format: {e}")

Conversion to DateTime format successful.

In [ ]:
cmb= df[df['NAME']=='COLOMBO, CE']
print(cmb.shape)
cmb.head(10)

In [ ]:
ne= df[df['NAME']=='NUWARA ELIYA, CE']
print(ne.shape)
ne.head(10)

In [ ]:
kuru= df[df['NAME']=='KURUNEGALA, CE']
print(kuru.shape)
kuru.head(10)

# Colombo

In [ ]:
cmb.info()

In [ ]:
# Step 1: Check Time Range
min_date = cmb['DATE'].min()
max_date = cmb['DATE'].max()
print("Time Range: From", min_date, "to", max_date)

# Step 2: Generate Time Range
complete_time_range = pd.date_range(start=min_date, end=max_date, freq='D')  
# Step 3: Identify Missing Values
missing_values = complete_time_range[~complete_time_range.isin(cmb['DATE'])]

if len(missing_values) == 0:
    print("No missing dates found in the time range.")
else:
    print("Missing dates found:")
    print('Count: ',len(missing_values))
    print(missing_values)

In [ ]:
# Step 4: Create DataFrame for missing dates
missing_df = pd.DataFrame({'DATE': missing_values,
                           'NAME': ['COLOMBO, CE']*len(missing_values),
                           'LATITUDE':['6.9']*len(missing_values), 
                           'LONGITUDE':['79.867']*len(missing_values),
                           'ELEVATION':['7.0']*len(missing_values)})

# Step 5: Concatenate missing dates DataFrame with existing DataFrame
cmb = pd.concat([cmb, missing_df], ignore_index=True)

# Sort the DataFrame by 'DATE' column
cmb = cmb.sort_values(by='DATE')
cmb=cmb.reset_index(drop=True)

print("Missing dates added:")
print(cmb[['NAME','LATITUDE','LONGITUDE','ELEVATION']].value_counts())
cmb[cmb['DATE'].isin(missing_values)]

In [ ]:
cmb.set_index('DATE', inplace=True)

In [ ]:
cmb['PRCP'] = pd.to_numeric(cmb['PRCP'], errors='coerce')
cmb['TAVG'] = pd.to_numeric(cmb['TAVG'], errors='coerce')
cmb['TMIN'] = pd.to_numeric(cmb['TMIN'], errors='coerce')
cmb['TMAX'] = pd.to_numeric(cmb['TMAX'], errors='coerce')

In [ ]:
cmb.describe()

## Null values distribution

In [ ]:
# Visualize missing values using a heatmap
plt.figure(figsize=(6, 10))
sns.heatmap(cmb.isnull(), cbar=False, cmap='inferno')
plt.title('Disribution of Missing Values in Weather Data')
plt.xlabel('Columns')
plt.ylabel('Date')
plt.show()

cmb.isnull().sum()

In [ ]:
# Create the plot
column="PRCP"
plt.figure(figsize=(20, 6))
plt.plot( cmb.index, cmb[column], label="PRCP")
plt.title(f"{column} column visualization")
plt.xlabel("Date")
plt.ylabel(column)
plt.legend()
plt.show()

In [ ]:
# Create the plot
plt.figure(figsize=(20, 6))
plt.plot( cmb.index, cmb['TMAX'], label="TMAX")
plt.plot( cmb.index, cmb['TAVG'], label="TAVG")
plt.plot( cmb.index, cmb['TMIN'], label="TMIN")
#plt.plot( cmb_with_missing_dates["DATE"], cmb_with_missing_dates['PRCP'], label="PRCP")
plt.title("PRCP column visualization")
plt.xlabel("Date")
plt.ylabel("HCHO_reading")
plt.legend()
plt.show()

## Null value handling of temperature measurements

In [ ]:
cmb1=cmb.copy()
#cmb1.dropna(inplace=True)
# Calculate midpoint between min and max (ignoring rows with missing values)
cmb1['Midpoint'] = cmb1[['TMIN', 'TMAX']].apply(lambda x: (x[0] + x[1]) / 2, axis=1)
plt.figure(figsize=(10, 10))
sns.heatmap(cmb1.corr(numeric_only=True), annot=True);

TMIN + k * (TMAX - TMIN)

In [ ]:
cmb1.drop(columns=['Midpoint'],inplace=True)

## The midpoint, represented by TAVG = (TMIN + TMAX) / 2, is calculated under the assumption that the temperature distribution throughout a day follows a uniform distribution. When examining the relationship between the calculated midpoint and the actual average temperature (TAVG), we find a strong correlation, indicating that the assumption is reasonably accurate.

## Given this strong correlation and the uniform distribution assumption, when two out of the three temperature measurements—TAVG, TMIN, and TMAX—are available for a particular day,  missing value can be calculated, utilizing the formula TAVG = (TMIN + TMAX) / 2

In [ ]:
print('Before null values handling using TAVG = (TMIN + TMAX) / 2 -')
print(cmb1['PRCP'].isnull().sum())
print(cmb1['TAVG'].isnull().sum())
print(cmb1['TMIN'].isnull().sum())
print(cmb1['TMAX'].isnull().sum())

In [ ]:
# Fill null values in TAVG using TMIN and TMAX
valid_indices = cmb1['TMIN'].notna() & cmb1['TMAX'].notna()
cmb1.loc[valid_indices, 'TAVG'] = (cmb1.loc[valid_indices, 'TMIN'] + cmb1.loc[valid_indices, 'TMAX']) / 2

In [ ]:
# Fill null values in TAVG using TMIN and TMAX
valid_indices = cmb1['TMAX'].notna() & cmb1['TAVG'].notna()
cmb1.loc[valid_indices, 'TMIN'] = 2*cmb1.loc[valid_indices, 'TAVG'] - cmb1.loc[valid_indices, 'TMAX']

In [ ]:
# Fill null values in TAVG using TMIN and TMAX
valid_indices = cmb1['TMIN'].notna() & cmb1['TAVG'].notna()
cmb1.loc[valid_indices, 'TMAX'] = 2*cmb1.loc[valid_indices, 'TAVG'] - cmb1.loc[valid_indices, 'TMIN']

In [ ]:
print('After null values handling using TAVG = (TMIN + TMAX) / 2 -')
print(cmb1['PRCP'].isnull().sum())
print(cmb1['TAVG'].isnull().sum())
print(cmb1['TMIN'].isnull().sum())
print(cmb1['TMAX'].isnull().sum())

In [ ]:
# Visualize missing values using a heatmap
plt.figure(figsize=(6, 10))
sns.heatmap(cmb1.isnull(), cbar=False, cmap='inferno')
plt.title('Disribution of Missing Values in Weather Data')
plt.xlabel('Columns')
plt.ylabel('Date')
plt.show()

cmb1.isnull().sum()

In [ ]:
# Create the plot
plt.figure(figsize=(20, 6))
plt.plot( cmb1.index, cmb1['TMAX'], label="TMAX")
plt.plot( cmb1.index, cmb1['TAVG'], label="TAVG")
plt.plot( cmb1.index, cmb1['TMIN'], label="TMIN")
#plt.plot( cmb_with_missing_dates["DATE"], cmb_with_missing_dates['PRCP'], label="PRCP")
plt.title("PRCP column visualization")
plt.xlabel("Date")
plt.ylabel("HCHO_reading")
plt.legend()
plt.show()

## Handling the rest of the null values using rolling window method

In [ ]:
#Rolling window method with window size-2 on a loop untill number of null values become 0
def rolling_window(size,df,column):
    #df[column]=df[column]
    num=0
    while (df[column].isnull().sum()>0):
        num+=1
        df[column]=df[column].fillna(df[column].rolling(window=size, min_periods=1).mean())
    plt.figure(figsize=(20, 6))
    plt.plot( df.index, df[column], label=column)
    plt.title(f"{column} visualization")
    plt.xlabel("Date")
    plt.ylabel(column)
    plt.legend()
    plt.show()
    print('num of iterations, ',num)

In [ ]:
rolling_window(3,cmb1,'TMAX')

In [ ]:
rolling_window(3,cmb1,'TAVG')

In [ ]:
rolling_window(3,cmb1,'TMIN')

In [ ]:
# Create the plot
plt.figure(figsize=(20, 6))
plt.plot( cmb1.index, cmb1['TMAX'], label="TMAX")
plt.plot( cmb1.index, cmb1['TAVG'], label="TAVG")
plt.plot( cmb1.index, cmb1['TMIN'], label="TMIN")
#plt.plot( cmb_with_missing_dates["DATE"], cmb_with_missing_dates['PRCP'], label="PRCP")
plt.title("PRCP column visualization")
plt.xlabel("Date")
plt.ylabel("HCHO_reading")
plt.legend()
plt.show()

## Handling null values in percipitation

In [ ]:
# Create the plot
column="PRCP"
plt.figure(figsize=(20, 6))
plt.plot( cmb1.index, cmb1[column], label="PRCP")
plt.title(f"{column} column visualization")
plt.xlabel("Date")
plt.ylabel(column)
plt.legend()
plt.show()

In [ ]:
rolling_window(3,cmb1,'PRCP')

In [ ]:
# Visualize missing values using a heatmap
plt.figure(figsize=(6, 10))
sns.heatmap(cmb1.isnull(), cbar=False, cmap='inferno')
plt.title('Disribution of Missing Values in Weather Data')
plt.xlabel('Columns')
plt.ylabel('Date')
plt.show()

cmb1.isnull().sum()

In [ ]:
cmb1.isnull().sum()

In [ ]:
cmb1.head(15)

# Kururnaegala

In [ ]:
//

In [ ]:
# k=0.5

# plt.figure(figsize=(8, 6))
# plt.scatter(cmb1['Diff_K_Avg_' + str(k)], cmb1['TAVG'], label='Data Points')

# # Add y=x line
# x = np.linspace(min(cmb1['TAVG']), max(cmb1['TAVG']), 100)
# plt.plot(x, x, color='red', linestyle='--', label='y=x')

# plt.xlabel('Column 1')
# plt.ylabel('Column 2')
# plt.title('Scatter Plot of Column 1 vs Column 2')
# plt.legend()
# plt.grid(True)
# plt.show()

# residuals = cmb1['Diff_K_Avg_' + str(k)] - cmb1['TAVG']

# # Plotting residuals against actual values
# plt.figure(figsize=(10, 6))
# plt.scatter(cmb1['Diff_K_Avg_' + str(k)], residuals, color='green', alpha=0.5)  # Scatter plot of residuals vs actual
# plt.axhline(y=0, color='red', linestyle='--')  # Horizontal line at y=0
# plt.xlabel('Actual Values')
# plt.ylabel('Residuals')
# plt.title('Residuals vs Actual Values')
# plt.show()

In [ ]:
cmb1.describe()

In [ ]:
def get_optimal_k(row):
  tmin, tmax, tavg = row['TMIN'], row['TMAX'], row['TAVG']
  if pd.isna(tavg):
    # No TAVG value, return None
    return None
  
  #k_values = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
  k_values = [i / 100 for i in range(0, 101)]

  min_diff = float('inf')
  best_k = None
  for k in k_values:
    estimated_avg = tmin + k * (tmax - tmin)
    diff = abs(estimated_avg - tavg)
    if diff < min_diff:
      min_diff = diff
      best_k = k
  return best_k



# Apply the function to each row and store the optimal k in a new column
cmb1['Optimal_K'] = cmb1.apply(get_optimal_k, axis=1)

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(cmb1, x="Optimal_K",bins=30)

In [ ]:
# Create the plot
plt.figure(figsize=(20, 6))
plt.plot( cmb1["DATE"], cmb1['Optimal_K'], label="TMAX")
plt.title("PRCP column visualization")
plt.xlabel("Date")
plt.ylabel("HCHO_reading")
plt.legend()
plt.show()

In [ ]:
def impute_avg(row):
  
  tmin, tmax, optimal_k = row['TMIN'], row['TMAX'], row['Optimal_K']
  if pd.isna(tmin) or pd.isna(tmax) or pd.isna(optimal_k):
    return None
  else:
    return tmin + optimal_k * (tmax - tmin)

cmb1['Imputed_TAVG'] = cmb1.apply(impute_avg, axis=1)

In [ ]:
# Create the plot
plt.figure(figsize=(20, 6))
plt.plot( cmb1["DATE"], cmb1['Imputed_TAVG'], label="Imputed_TAVG")
#plt.plot( cmb1["DATE"], cmb1['TAVG'], label="TAVG")
#plt.plot( cmb1["DATE"], cmb1['Midpoint'], label="Midpoint")
#plt.plot( cmb_with_missing_dates["DATE"], cmb_with_missing_dates['PRCP'], label="PRCP")
plt.title("PRCP column visualization")
plt.xlabel("Date")
plt.ylabel("HCHO_reading")
plt.legend()
plt.show()

# Create the plot
plt.figure(figsize=(20, 6))
#plt.plot( cmb1["DATE"], cmb1['Imputed_TAVG'], label="Imputed_TAVG")
plt.plot( cmb1["DATE"], cmb1['TAVG'], label="TAVG")
#plt.plot( cmb1["DATE"], cmb1['Midpoint'], label="Midpoint")
#plt.plot( cmb_with_missing_dates["DATE"], cmb_with_missing_dates['PRCP'], label="PRCP")
plt.title("PRCP column visualization")
plt.xlabel("Date")
plt.ylabel("HCHO_reading")
plt.legend()
plt.show()

In [ ]:
pd.plotting.autocorrelation_plot(cmb1[['Optimal_K']].dropna())
plt.title('Autocorrelation Plot')
plt.xlabel('Lag')
plt.ylabel('Autocorrelation')
plt.show()

In [ ]:
pd.plotting.lag_plot(cmb1[['Optimal_K']].dropna(),lag=7)

In [ ]:
# plt.figure(figsize=(8, 6))
# plt.scatter(cmb1['Midpoint'], cmb1['TAVG'], label='Data Points')

# # Add y=x line
# x = np.linspace(min(cmb1['TAVG']), max(cmb1['TAVG']), 100)
# plt.plot(x, x, color='red', linestyle='--', label='y=x')

# plt.xlabel('Column 1')
# plt.ylabel('Column 2')
# plt.title('Scatter Plot of Column 1 vs Column 2')
# plt.legend()
# plt.grid(True)
# plt.show()

In [ ]:
# residuals = cmb1['Midpoint'] - cmb1['TAVG']

# # Plotting residuals against actual values
# plt.figure(figsize=(10, 6))
# plt.scatter(cmb1['Midpoint'], residuals, color='green', alpha=0.5)  # Scatter plot of residuals vs actual
# plt.axhline(y=0, color='red', linestyle='--')  # Horizontal line at y=0
# plt.xlabel('Actual Values')
# plt.ylabel('Residuals')
# plt.title('Residuals vs Actual Values')
# plt.show()

In [ ]:
cmb1.shape

In [ ]:
cmb1.dropna().corr(numeric_only=True)